html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  background: url("../assets/nasa-galaxy.jpg") no-repeat center center/cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
button:focus {
  cursor: pointer;
  border: none;
  outline: 0;
  color: inherit;
  font-size: inherit;
}

input,
input:focus {
  outline: none;
  border: none;
}

.count-down, .control-grid {
  width: 100%;
  max-width: 600px;
}

.hero, .hero--text, main, .count-down, .count-down__hours, .count-down__minutes, .count-down__seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

.btn {
  position: relative;
  padding: 1rem 1.5rem;
  border: .2rem solid transparent;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  background: #ab66e7;
  -webkit-transition: all 180ms;
  transition: all 180ms;
}

.btn:hover {
  color: #ab66e7;
  border: 0.2rem solid #ab66e7;
  background: transparent;
}

.btn__green {
  background: #bdee92;
}

.btn__green:hover {
  color: #bdee92;
  border: 0.2rem solid #bdee92;
  background: transparent !important;
}

.btn__red {
  background: #ffa2a2;
}

.btn__red:hover {
  color: #ffa2a2;
  border: 0.2rem solid #ffa2a2;
  background: transparent !important;
}

.btn__yellow {
  background: #FFCD50;
}

.btn__yellow:hover {
  color: #FFCD50;
  border: 0.2rem solid #FFCD50;
  background: transparent !important;
}

header {
  width: 100%;
}

.hero {
  width: 100%;
  height: 30vh;
  max-height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero--text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85%;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.hero--text__main {
  font-size: 3.7rem;
  color: #c392ee;
}

.hero--text__sub {
  font-size: 2rem;
  color: white;
}

main {
  margin: 0 auto;
  height: 70vh;
  max-height: 600px;
  width: 100%;
  max-width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.count-down {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 5rem;
  color: white;
}

.count-down__hours, .count-down__minutes, .count-down__seconds {
  position: relative;
  height: 10rem;
  width: 10rem;
  margin: 1rem;
}

.count-down__hours::after, .count-down__minutes::after, .count-down__seconds::after {
  position: absolute;
  bottom: -4%;
  left: -1%;
  width: 100%;
  height: 100%;
  content: '';
  background: radial-gradient(transparent 50%, #fff);
  border: .1rem solid white;
  border-radius: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: scale-down-up 1s ease infinite alternate;
          animation: scale-down-up 1s ease infinite alternate;
}

.control-grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "tbox in-tbox in-tbox start" "short in-short in-short stop" "long in-long in-long reset";
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.control-grid .btn {
  width: 13rem;
  height: 5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.control-grid label {
  display: block;
  color: white;
}

.control-grid input {
  width: 100%;
  padding: 1rem 0;
  font-size: 2.3rem;
  color: white;
  background: transparent;
  border-bottom: 0.1rem solid #ab66e7;
}

.control-grid #timebox-button {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tbox;
}

.control-grid .timebox-group {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: in-tbox;
}

.control-grid #short-break-button {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: short;
}

.control-grid .short-break-group {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: in-short;
}

.control-grid #long-break-button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: long;
}

.control-grid .long-break-group {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: in-long;
}

.control-grid #start-button {
  background: #bdee92;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: start;
}

.control-grid #stop-button {
  background: #ffa2a2;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: stop;
}

.control-grid #reset-button {
  background: #FFCD50;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: reset;
}

@-webkit-keyframes scale-down-up {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale-down-up {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (max-width: 800px) {
  .page-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .count-down {
    font-size: 4rem;
  }
  .count-down__hours, .count-down__minutes, .count-down__seconds {
    height: 7rem;
    width: 7rem;
  }
  .count-down__hours::after, .count-down__minutes::after, .count-down__seconds::after {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  .control-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "tbox short long" "in-tbox in-short in-long" "start stop reset";
  }
  .control-grid .btn {
    padding: .7rem 1rem;
    font-size: 1.6rem;
  }
  .control-grid #short-break-button {
    content: 'Short';
  }
  .control-grid label {
    text-align: center;
  }
  .control-grid input {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .control-grid .btn {
    width: auto;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */